.container {
    width: 90%;
    margin: 30px auto;
    background-color: #dddddd;
    text-align: center;
    padding-top: 30px;
    border-radius: 4px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    border-bottom: 4px solid #949494;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 30, 56);
    margin-top: 20px;
}

button {
    padding: 10px 10px 10px 10px;
    background-color: #a3a3a3;
    border-radius: 4px;
    border: none;
}